In [7]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [11]:
url = "https://www.gutenberg.org/ebooks/search/?sort_order=downloads"
response = requests.get(url)
response

In [12]:
soup = BeautifulSoup(response.content)

In [13]:
soup.find_all("span", class_= "title")#targetting class "title"

[<span class="title">Sort Alphabetically by Title</span>,
 <span class="title">Sort by Release Date</span>,
 <span class="title">Romeo and Juliet</span>,
 <span class="title">Moby Dick; Or, The Whale</span>,
 <span class="title">Middlemarch</span>,
 <span class="title">A Room with a View</span>,
 <span class="title">Pride and Prejudice</span>,
 <span class="title">The Complete Works of William Shakespeare</span>,
 <span class="title">Little Women; Or, Meg, Jo, Beth, and Amy</span>,
 <span class="title">Across Mongolian Plains</span>,
 <span class="title">The Enchanted April</span>,
 <span class="title">The Blue Castle: a novel</span>,
 <span class="title">The Adventures of Ferdinand Count Fathom — Complete</span>,
 <span class="title">Cranford</span>,
 <span class="title">The Adventures of Roderick Random</span>,
 <span class="title">The Expedition of Humphry Clinker</span>,
 <span class="title">History of Tom Jones, a Foundling</span>,
 <span class="title">Twenty years after</span>,
 <span class="title">My Life — Volume 1</span>,
 <span class="title">Alice's Adventures in Wonderland</span>,
 <span class="title">Frankenstein; Or, The Modern Prometheus</span>,
 <span class="title">Metamorphosis</span>,
 <span class="title">Crime and Punishment</span>,
 <span class="title">Dracula</span>,
 <span class="title">The Picture of Dorian Gray</span>,
 <span class="title">The Great Gatsby</span>,
 <span class="title">A Tale of Two Cities</span>]

In [14]:
soup.select("Li.booklink span.title")#name of the books

[<span class="title">Romeo and Juliet</span>,
 <span class="title">Moby Dick; Or, The Whale</span>,
 <span class="title">Middlemarch</span>,
 <span class="title">A Room with a View</span>,
 <span class="title">Pride and Prejudice</span>,
 <span class="title">The Complete Works of William Shakespeare</span>,
 <span class="title">Little Women; Or, Meg, Jo, Beth, and Amy</span>,
 <span class="title">Across Mongolian Plains</span>,
 <span class="title">The Enchanted April</span>,
 <span class="title">The Blue Castle: a novel</span>,
 <span class="title">The Adventures of Ferdinand Count Fathom — Complete</span>,
 <span class="title">Cranford</span>,
 <span class="title">The Adventures of Roderick Random</span>,
 <span class="title">The Expedition of Humphry Clinker</span>,
 <span class="title">History of Tom Jones, a Foundling</span>,
 <span class="title">Twenty years after</span>,
 <span class="title">My Life — Volume 1</span>,
 <span class="title">Alice's Adventures in Wonderland</span>,
 <span class="title">Frankenstein; Or, The Modern Prometheus</span>,
 <span class="title">Metamorphosis</span>,
 <span class="title">Crime and Punishment</span>,
 <span class="title">Dracula</span>,
 <span class="title">The Picture of Dorian Gray</span>,
 <span class="title">The Great Gatsby</span>,
 <span class="title">A Tale of Two Cities</span>]

In [16]:
spans = soup.find_all("span", class_= "title")#retrive books titles 
book_titles = [i.text for i in spans]
book_titles = book_titles[2:]
book_titles

['Romeo and Juliet',
 'Moby Dick; Or, The Whale',
 'Middlemarch',
 'A Room with a View',
 'Pride and Prejudice',
 'The Complete Works of William Shakespeare',
 'Little Women; Or, Meg, Jo, Beth, and Amy',
 'Across Mongolian Plains',
 'The Enchanted April',
 'The Blue Castle: a novel',
 'The Adventures of Ferdinand Count Fathom — Complete',
 'Cranford',
 'The Adventures of Roderick Random',
 'The Expedition of Humphry Clinker',
 'History of Tom Jones, a Foundling',
 'Twenty years after',
 'My Life — Volume 1',
 "Alice's Adventures in Wonderland",
 'Frankenstein; Or, The Modern Prometheus',
 'Metamorphosis',
 'Crime and Punishment',
 'Dracula',
 'The Picture of Dorian Gray',
 'The Great Gatsby',
 'A Tale of Two Cities']

In [ ]:
spans = soup.find_all("span", class_= "title")#retrive books titles 
book_titles = [i.text for i in spans]
book_titles = book_titles[2:]
book_titles

In [17]:
spans2 = soup.find_all("span",class_= "subtitle")

In [18]:
spans2

[<span class="subtitle">William Shakespeare</span>,
 <span class="subtitle">Herman Melville</span>,
 <span class="subtitle">George Eliot</span>,
 <span class="subtitle">E. M. Forster</span>,
 <span class="subtitle">Jane Austen</span>,
 <span class="subtitle">William Shakespeare</span>,
 <span class="subtitle">Louisa May Alcott</span>,
 <span class="subtitle">Roy Chapman Andrews</span>,
 <span class="subtitle">Elizabeth Von Arnim</span>,
 <span class="subtitle">L. M. Montgomery</span>,
 <span class="subtitle">T. Smollett</span>,
 <span class="subtitle">Elizabeth Cleghorn Gaskell</span>,
 <span class="subtitle">T. Smollett</span>,
 <span class="subtitle">T. Smollett</span>,
 <span class="subtitle">Henry Fielding</span>,
 <span class="subtitle">Alexandre Dumas and Auguste Maquet</span>,
 <span class="subtitle">Richard Wagner</span>,
 <span class="subtitle">Lewis Carroll</span>,
 <span class="subtitle">Mary Wollstonecraft Shelley</span>,
 <span class="subtitle">Franz Kafka</span>,
 <span class="subtitle">Fyodor Dostoyevsky</span>,
 <span class="subtitle">Bram Stoker</span>,
 <span class="subtitle">Oscar Wilde</span>,
 <span class="subtitle">F. Scott Fitzgerald</span>,
 <span class="subtitle">Charles Dickens</span>]

In [19]:
authors = [author.text for author in spans2]

In [20]:
authors

['William Shakespeare',
 'Herman Melville',
 'George Eliot',
 'E. M. Forster',
 'Jane Austen',
 'William Shakespeare',
 'Louisa May Alcott',
 'Roy Chapman Andrews',
 'Elizabeth Von Arnim',
 'L. M. Montgomery',
 'T. Smollett',
 'Elizabeth Cleghorn Gaskell',
 'T. Smollett',
 'T. Smollett',
 'Henry Fielding',
 'Alexandre Dumas and Auguste Maquet',
 'Richard Wagner',
 'Lewis Carroll',
 'Mary Wollstonecraft Shelley',
 'Franz Kafka',
 'Fyodor Dostoyevsky',
 'Bram Stoker',
 'Oscar Wilde',
 'F. Scott Fitzgerald',
 'Charles Dickens']

In [24]:
books_dict = {"title" :book_titles,"author": authors}#finding book and titles with author name 
books_df = pd.DataFrame(books_dict)
books_df.head()

                      title               author
0          Romeo and Juliet  William Shakespeare
1  Moby Dick; Or, The Whale      Herman Melville
2               Middlemarch         George Eliot
3        A Room with a View        E. M. Forster
4       Pride and Prejudice          Jane Austen